---
layout: base.njk
title: Posts
---
<section class="blog-intro">
  <div class="eyebrow">writing</div>
  <h1 class="pf-title">Posts</h1>
  <p class="pf-intro-text"><a href="/posts/devblog/">devblog only →</a></p>
</section>

<ul class="blog-list">
{%- for post in collections.posts | reverse %}
  <li class="blog-list-item">
    <span class="blog-list-title-group">
      <a href="/posts/{{ post.fileSlug }}/">{{ post.data.title }}</a>
      {%- for tag in post.data.tags %}
        {%- if tag != "posts" %}
      <span class="pf-tag pf-tag--sm">{{ tag }}</span>
        {%- endif %}
      {%- endfor %}
    </span>
    <span class="blog-date">{{ post.date.toDateString() }}</span>
  </li>
{%- endfor %}
</ul>
